 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.45), rgba(0,0,0,0.45)), url("images/de2ea145a25bbde0c9b144c2ed42b8e3a18f447cd872e9235d4ae391419546efb7bf837237f335d89e0b6d15ca5b6b9701530ade1a4695593619a2_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 685px;
}

.u-section-1 .u-group-1 {
  width: 800px;
  height: auto;
  min-height: 139px;
  margin: 546px auto 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 770px;
  }

  .u-section-1 .u-group-1 {
    min-height: 250px;
    margin-top: 520px;
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 850px;
  }

  .u-section-1 .u-group-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 870px;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-1 {
    width: 340px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 218px;
}

.u-section-2 .u-layout-wrap-1 {
  position: relative;
  margin: 36px 0 30px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 129px;
}

.u-section-2 .u-container-layout-1 {
  padding-left: 18px;
  padding-right: 18px;
}

.u-section-2 .u-text-1 {
  position: relative;
  font-size: 1.25rem;
  margin: 15px 20px 0;
}

.u-section-2 .u-text-2 {
  position: relative;
  margin: 20px 20px 15px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 152px;
}

.u-section-2 .u-container-layout-2 {
  padding-left: 24px;
}

.u-section-2 .u-btn-1 {
  font-size: 1rem;
  border-style: solid;
  text-transform: uppercase;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding-left: 20px;
  padding-right: 20px;
  font-weight: 700;
  letter-spacing: normal;
  margin: 0 auto;
}

.u-section-2 .u-icon-1 {
  font-size: 2.8572em;
  margin-right: 9px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 200px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 153px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 49px;
    padding-right: 49px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 16px;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-2 .u-text-2 {
    margin: 19px 16px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 0;
  }

  .u-section-2 .u-btn-1 {
    position: relative;
    letter-spacing: 1px;
    margin-top: 75px;
    margin-bottom: 55px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-layout-cell-1 {
    min-height: 191px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 38px;
    padding-right: 38px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 191px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 15px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 0;
    margin-bottom: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-container-layout-1 {
    padding-left: 11px;
    padding-right: 63px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 22px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin: 11px 0 20px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 11px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-container-layout-1 {
    padding-left: 18px;
    padding-right: 18px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 6px;
    margin-right: 6px;
    width: NaNpx;
  }

  .u-section-2 .u-text-2 {
    margin-left: 6px;
    margin-right: 6px;
    width: NaNpx;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 7px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 591px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 625px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-text-1 {
  text-transform: none;
  font-size: 2.25rem;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.125rem;
  margin: 11px auto 0 28px;
}

.u-section-3 .u-text-3 {
  font-size: 1.25rem;
  margin: 28px auto 0 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 625px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-text-4 {
  text-transform: none;
  font-size: 2.25rem;
  margin: 0 20px 0 0;
}

.u-section-3 .u-form-1 {
  height: 307px;
  width: 510px;
  margin: 11px 0 0;
}

.u-section-3 .u-input-1 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-3 .u-input-2 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-3 .u-input-3 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-3 .u-form-group-4 {
  margin-left: 0;
}

.u-section-3 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  letter-spacing: normal;
  padding: 6px;
}

.u-section-3 .u-icon-1 {
  height: 16px;
  width: 16px;
}

.u-section-3 .u-text-6 {
  font-size: 0.875rem;
}

.u-section-3 .u-input-4 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-3 .u-btn-2 {
  border-style: none;
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 509px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 515px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 515px;
  }

  .u-section-3 .u-text-4 {
    margin-right: 0;
  }

  .u-section-3 .u-form-1 {
    width: 410px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 320px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-form-1 {
    width: 300px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 420px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-form-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-text-4 {
    font-size: 1.5rem;
  }
}