 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.45), rgba(0,0,0,0.45)), url("images/de2ea145a25bbde0c9b144c2ed42b8e3a18f447cd872e9235d4ae391419546efb7bf837237f335d89e0b6d15ca5b6b9701530ade1a4695593619a2_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 700px;
}

.u-section-1 .u-group-1 {
  width: 800px;
  height: auto;
  min-height: 139px;
  margin: 561px auto 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  font-size: 4.5rem;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 490px;
  }

  .u-section-1 .u-group-1 {
    min-height: 250px;
    margin-top: 240px;
    height: auto;
  }

  .u-section-1 .u-text-1 {
    margin-top: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 400px;
  }

  .u-section-1 .u-group-1 {
    width: 720px;
    margin-top: 150px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 300px;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 270px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
    margin-top: 20px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    font-size: 2.25rem;
    margin-left: 0;
    margin-right: 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 152px;
}

.u-section-2 .u-layout-wrap-1 {
  margin: 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 129px;
}

.u-section-2 .u-container-layout-1 {
  padding-left: 18px;
  padding-right: 18px;
}

.u-section-2 .u-text-1 {
  position: relative;
  font-size: 1.25rem;
  margin: 15px 20px 0;
}

.u-section-2 .u-text-2 {
  position: relative;
  margin: 20px 20px 15px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 152px;
}

.u-section-2 .u-container-layout-2 {
  padding-left: 24px;
}

.u-section-2 .u-btn-1 {
  font-size: 1rem;
  text-transform: uppercase;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  font-weight: 700;
  letter-spacing: normal;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 30px auto 0;
  padding: 9px 20px 10px;
}

.u-section-2 .u-icon-1 {
  font-size: 2.8572em;
  margin-right: 9px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 222px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 153px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 49px;
    padding-right: 49px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 16px;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-2 .u-text-2 {
    margin: 19px 16px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 0;
  }

  .u-section-2 .u-btn-1 {
    position: relative;
    letter-spacing: 1px;
    border-style: solid;
    margin-top: 75px;
    margin-bottom: 55px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 234px;
  }

  .u-section-2 .u-layout-wrap-1 {
    position: relative;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 191px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 38px;
    padding-right: 38px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 191px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 15px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 0;
    margin-bottom: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 420px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 11px;
    padding-right: 63px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 22px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin: 11px 0 20px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 11px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 314px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 1px;
    margin-bottom: 1px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 157px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 18px;
    padding-right: 18px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 157px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 7px;
    padding-bottom: 0;
  }
}

.u-section-2 .u-btn-1,
.u-section-2 .u-btn-1:before,
.u-section-2 .u-btn-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-btn-1.u-btn-1.u-btn-1:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-btn-1.u-btn-1.u-btn-1.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-container-layout:hover .u-btn-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-2 .u-btn-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
} .u-section-3 {
  background-image: none;
  min-height: 877px;
}

.u-section-3 .u-layout-wrap-1 {
  width: 1139px;
  margin: 0 auto 60px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 112px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-text-1 {
  margin: 0 auto;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 677px;
}

.u-section-3 .u-container-layout-2 {
  padding: 0;
}

.u-section-3 .u-gallery-1 {
  height: 677px;
  width: 1013px;
  margin: 0 auto;
}

.u-section-3 .u-carousel-indicators-1 {
  position: absolute;
  width: auto;
  height: auto;
  top: auto;
  bottom: -35px;
}

.u-section-3 .u-carousel-item-1 {
  margin-right: 0;
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1);
}

.u-section-3 .u-back-image-1 {
  object-position: 50% 84.17%;
}

.u-section-3 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-3 .u-carousel-item-2 {
  margin-right: 0;
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1);
}

.u-section-3 .u-back-image-2 {
  object-position: 50% 84.17%;
}

.u-section-3 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-3 .u-carousel-item-3 {
  margin-right: 0;
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1);
}

.u-section-3 .u-back-image-3 {
  object-position: 50% 84.17%;
}

.u-section-3 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-3 .u-carousel-item-4 {
  margin-right: 0;
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1);
}

.u-section-3 .u-back-image-4 {
  object-position: 50% 84.17%;
}

.u-section-3 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-3 .u-carousel-item-5 {
  margin-right: 0;
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1);
}

.u-section-3 .u-back-image-5 {
  object-position: 50% 84.17%;
}

.u-section-3 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-3 .u-carousel-control-1 {
  position: absolute;
  left: -60px;
  width: 40px;
  height: 40px;
  right: auto;
}

.u-section-3 .u-carousel-control-2 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: auto;
  right: -60px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-3 .u-text-1 {
    width: 455px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 559px;
  }

  .u-section-3 .u-gallery-1 {
    width: 880px;
  }
}

@media (max-width: 991px) {
   .u-section-3 {
    min-height: 679px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 100%;
    margin-bottom: 66px;
    margin-left: 0;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 108px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-gallery-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-carousel-control-1 {
    left: 8px;
  }

  .u-section-3 .u-carousel-control-2 {
    right: 8px;
  }
}

@media (max-width: 767px) {
   .u-section-3 {
    min-height: 526px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 112px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-carousel-control-1 {
    left: 16px;
  }

  .u-section-3 .u-carousel-control-2 {
    right: 16px;
  }
}

@media (max-width: 575px) {
   .u-section-3 {
    min-height: 445px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-text-1 {
    width: 320px;
  }

  .u-section-3 .u-carousel-control-1 {
    left: 8px;
  }

  .u-section-3 .u-carousel-control-2 {
    right: 8px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 625px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 625px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-text-1 {
  text-transform: none;
  font-size: 2.25rem;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-2 {
  font-size: 1.125rem;
  margin: 11px auto 0 28px;
}

.u-section-4 .u-text-3 {
  font-size: 1.25rem;
  margin: 28px auto 0 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 625px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-text-4 {
  text-transform: none;
  font-size: 2.25rem;
  margin: 0 20px 0 0;
}

.u-section-4 .u-form-1 {
  height: 307px;
  width: 510px;
  margin: 11px 0 0;
}

.u-section-4 .u-input-1 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-4 .u-input-2 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-4 .u-input-3 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-4 .u-form-group-4 {
  margin-left: 0;
}

.u-section-4 .u-btn-1 {
  border-style: solid;
  text-transform: uppercase;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  letter-spacing: normal;
  font-weight: normal;
  padding: 6px;
}

.u-section-4 .u-icon-1 {
  height: 16px;
  width: 16px;
}

.u-section-4 .u-text-6 {
  font-size: 0.875rem;
}

.u-section-4 .u-input-4 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-4 .u-btn-2 {
  border-style: none;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  font-weight: 700;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 515px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 515px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 515px;
  }

  .u-section-4 .u-text-4 {
    margin-right: 0;
  }

  .u-section-4 .u-form-1 {
    width: 410px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 638px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-form-1 {
    width: 300px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 913px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-form-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1003px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-4 .u-text-4 {
    font-size: 1.5rem;
  }
}.text-selection-none{
user-select: none; /* supported by Chrome and Opera */
-webkit-user-select: none; /* Safari */
-khtml-user-select: none; /* Konqueror HTML */
-moz-user-select: none; /* Firefox */
-ms-user-select: none;
}
.text-selection-text{
user-select: text; /* supported by Chrome and Opera */
-webkit-user-select: text; /* Safari */
-khtml-user-select: text; /* Konqueror HTML */
-moz-user-select: text; /* Firefox */
-ms-user-select: text;
}
.text-selection-all{
user-select: all; /* supported by Chrome and Opera */
-webkit-user-select: all; /* Safari */
-khtml-user-select: all; /* Konqueror HTML */
-moz-user-select: all; /* Firefox */
-ms-user-select: all;
}
.text-selection-auto{
user-select: auto; /* supported by Chrome and Opera */
-webkit-user-select: auto; /* Safari */
-khtml-user-select: auto; /* Konqueror HTML */
-moz-user-select: auto; /* Firefox */
-ms-user-select: auto;
}
.text-selection-contain{
user-select: contain; 
-webkit-user-select: contain; 
-khtml-user-select: contain; 
-moz-user-select: contain; 
-ms-user-select: element; /*Only IE supports user-select contain option*/
}